@use "../../../node_modules/bootstrap/scss/bootstrap";
@use "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

noscript {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Setting root height so container can be centered vertically
html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}

.answerColumn {
    display: none;
}

.button {
    border-radius: 20px;
    padding: 15px 70px;
}

// Prevent answer buttons from stacking directly on each other
.answerButtonList li:not(:first-child) {
    margin-top: 40px;
}
