@use "../../../node_modules/bootstrap/scss/bootstrap";

main {
    max-width: 900px;
}

p {
    background-color: red;
}
#startButton {
    border-radius: 25px;
    font-size: 80px;
    width: 700px;
}
