@use "../../../node_modules/bootstrap/scss/bootstrap";

// Setting root height so container can be centered vertically
html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}

.button {
    border-radius: 20px;
    padding: 15px 70px;
}

// Prevent answer buttons from stacking directly on each other
.answerButtonColumn li:not(:first-child) {
    margin-top: 40px;
}
